.allSpots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin-left: 30px;
}

.spot {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 60px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.spot:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.spot-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 14px;
}

.spot:hover .tooltip {
  opacity: 1;
}

.spot-container {
  padding: 10px;
}

.location {
  font-size: 14px;
  color: #717171;
  display: flex;
  justify-content: space-between;
}

.stars {
  color: #ff385c;
}

.spot-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.allSpot-name {
  font-size: 16px;
  font-weight: bold;
  color: #484848;
}

.price {
  font-size: 14px;
  color: #484848;
}

.spot-price {
  font-weight: bold;
}
