.post-review-container {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    color: #484848;
}

.heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.error {
    color: #ff5a5f;
    font-size: 1em;
    margin-top: 0.5em;
}

.form {
    display: flex;
    flex-direction: column;
}

.post-review-form {
    display: flex;
    flex-direction: column;
}

.review-desc {
    width: 100%;
    height: 100px;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.star-rating-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.star-label {
    margin-right: 1em;
}

.star-rating {
    display: flex;
}

.star-rating span {
    cursor: pointer;
    font-size: 20px;
}

.star-rating .filled {
    color: #13d266;
    font-size: 25px;
}

.review-btn {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    padding: 0.5em 2em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    transition: background-color 0.3s;
}

.review-btn:hover {
    background-color: #ff3b40;
}

.review-btn:disabled {
    background-color: #ff9f9f;
    cursor: not-allowed;
}
