body {
    font-family: 'Arial', sans-serif;
    color: #484848;
}

.spot-details-container {
    /* position: relative; */
    z-index: 2;
    margin: 2em auto;
    margin-right: 50px;
}

.primary-preview-image {
    border-radius: 4px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 5px;
    width: auto;
    height: 100%;
}

.other-image-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 1em;
    margin-top: 25px;
    width: 550px;
    height: auto;
    margin-bottom: 19px;
}

.spot-details {
    padding-top: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.other-images {
    width: 100%;
    height: 242px;
    object-fit: cover;
    border-radius: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    margin-top: 2em;
}

.spot-images {
    margin-top: 20px;
}

.spot-images img {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 10px;
    width: fit-content;
}

.spot-description {
    font-size: 1em;
    line-height: 1.5em;
}

.spot-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.spot-details h1 {
    font-size: 35px;
    margin: 0;
}

.spot-location {
    font-size: 1em;
    margin-top: 10px;
    margin-left: 5px;
    color: #737373;
}

.spot-price-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid red; */
}

.spot-price-night {
    font-size: 1em;
    font-weight: bold;
}

.stars-reviews-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 80%; */
    /* border: 1px solid green; */
}

.dot {
    font-size: 20px;
    color: rgb(109, 107, 105);
}

.details-reservation-wrapper {
    display: flex;
    justify-content: space-between; /* Optional: To ensure there's space between the two containers */
    width: 925px;
    margin-left: 55px;
}


.reservation-container {
    width: 30%;
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 200px;
}

.description-container {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    margin-top: 20px;
    flex: 1;
}

.hosted-text {
    margin-top: 2em;
    font-size: 1.5em;
    margin-left: 55px;
}

.spot-stars, .spot-stars-new {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.star-emblem {
    /* border: 1px solid red; */
    margin-top: 13px;
    

}

.reserve-button {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    padding: 0.5em 2em;
    margin-bottom: 2px;
    cursor: pointer;
}

.reserve-button:hover {
    background-color: #ff3b40;
}

.spot-reserve {
    margin-bottom: 10px;
}
