form > ul {
    color: red;
}

.login-modal-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-modal-container ul {
    color: #ff5a5f;
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

.login-modal-container li {
    margin-bottom: 5px;
}

.user-login-input, .user-password-input {
    font-size: 16px;
    color: #484848;
    margin-bottom: 5px;
}

.user-email-input, .pass-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
    color: #484848;
}

.submit-login-btn, .demoLogin {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.submit-login-btn {
    background-color: #ff5a5f;
    margin-bottom: 10px;
}

.submit-login-btn:hover {
    background-color: #ff3b40;
}

.demoLogin {
    background-color: #ddd;
}

.demoLogin:hover {
    background-color: #ccc;
}

.log-in-header {
    text-align: center;
    color: #484848;
    margin-bottom: 20px;
}
