.reviews-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 40px;
}

.stars-rating {
    margin-right: 2px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    color: #ff5a5f;
}

.avg-rating {
    margin-left: 0.2em;
}

.review-dot {
    margin: 0 0.5em;
    height: 5px;
    width: 5px;
    background-color: #484848;
    border-radius: 50%;
    display: inline-block;
}

.reviews-total {
    font-size: 1em;
}

.post-review-btn {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em 2em;
    margin: 1em 0;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-left: 40px;
}

.post-review-btn:hover {
    background-color: #ff3b40;
}

.reviews-container {
    list-style-type: none;
}


.review-container {
    /* padding: 1em; */
    border-bottom: 1px solid #ebebeb;
    /* border: 2px solid red; */
    width: 100%;
    /* margin-right: 20px; */
}

.reviews-section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.user-review-container {
    margin-top: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 16px;
}

.review-user {
    font-weight: bold;
    color: #484848;
    
}

.review-date {
    font-size: 0.8em;
    color: #767676;
    /* border: 1px solid red; */
}

.desc {
    margin: 0.5em 0;
    /* border: 1px solid red; */
}

.delete-review-btn {
    background-color: #ff5a5f;
    color: #FFF;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    display: block;
}

.delete-review-btn:hover {
    background-color: #cc0000;
}

.owner-indicator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    margin-left: 40px;
}


.owner-message {
    background-color: #37b750;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
